<%- include('partials/header'); -%>

<div class="course_wrapper1">
  <div class="inner_wrap container-flex">
    <a href="/compcourse">
      <div class="course_image">
        <img src="competetive.jpg" alt="" />
      </div>
    </a>
    <div class="course_info">
      <h1>Competitive Coding</h1>
      <h3>Learn Competitive Coding From Scratch</h3>
      <div class="start_course"><a href="/compcourse">Start</a></div>
    </div>
  </div>
</div>

<div class="course_wrapper2">
  <div class="inner_wrap container-flex">
    <div class="course_info">
      <h1>Programming in C++</h1>
      <h3>Get yourself introduced to concept of OOP and the language of C++</h3>
      <div class="start_course"><a href="/cppcourse">Start</a></div>
    </div>
    <a href="/cppcourse">
      <div class="course_image">
        <img src="cpp.png" alt="" />
      </div>
    </a>
  </div>
</div>

<div class="course_wrapper3">
  <div class="inner_wrap container-flex">
    <a href="/madcourse">
      <div class="course_image">
        <img src="swift.jpg" alt="" />
      </div>
    </a>
    <div class="course_info">
      <h1>Mobile App Development</h1>
      <h3>From Beginner to Swift Developer wth Just One Course!</h3>
      <div class="start_course"><a href="/madcourse">Start</a></div>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
