<%- include('partials/header'); -%>

<div class="back_to_courses container-flex">
  <a href="/courses" class="backtrack"><img src="go_back.png" alt="" /></a>
  <a href="/courses" class="btn">Courses</a>
</div>

<div class="iframe_container container-flex">
  <div class="course_text">
    <h1>Mobile App Development</h1>
    <h2>This Lecturte teaches you what Mobile App Development is</h2>
    <h3>Lets Find Out.</h3>
    <div class="flag">Mark as complete</div>
  </div>

  <div class="video_container">
    <iframe
      width="683"
      height="384"
      src="https://www.youtube.com/embed/f1f3d2gVadU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>

<div class="iframe_container container-flex">
  <div class="course_text">
    <h1>Swift</h1>
    <h2>Learn Basics Of Swift</h2>
    <h3>Now that we know what mobile appdevelopment is Lets learn Swift</h3>
    <div class="flag">Mark as complete</div>
  </div>

  <div class="video_container">
    <iframe
      width="683"
      height="384"
      src="https://www.youtube.com/embed/Ulp1Kimblg0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>

<script>
  const button = document.getElementsByClassName("flag");

  for (var i = 0; i < button.length; i++) {
    button[i].addEventListener("click", markCourse);
  }

  function markCourse(e) {
    e.target.style.background = "green";
    e.target.textContent = "Completed";
    e.target.style.color = "white";
  }
</script>

<%- include('partials/footer'); -%>
